@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');


:root{
    --mint: #55e08a;
    --verde:#139439;
    --gray: #55557B;
    --black: #080808;
    --white: #f4efef;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Coming Soon', cursive;
    background-image: url(/images/page-g7c60991f4_1920.png);
    background-color: var(--mint);
    background-repeat: no-repeat;
    background-position-x: center;
}

.title-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 139px;
    margin-right: auto;
    color: var(--black);
    text-align: center;
    font-size: 44px;   
}
.kid-sign {
    max-width: 22%;
    height: auto;
}
form{
    max-width: 400px;
    margin: 53px auto;
    text-align: center;
}

form input[type="text"]{
    font-family:'Coming Soon', cursive; 
    background-color: var(--white);
    color: var(--black);
    border-style: none;
    font-size: 25px;
    margin-bottom: 23px;
}

form input[type="text"]::placeholder{
    color: var(--white);
}

form input[type="text"]:focus{
    outline: none; 
}

form input[type="submit"]{
    color: var(--black);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    font-size: 2em;
}

form input[type="submit"]:hover{
    background-color: var(--white);
    cursor: pointer;
    color: var(--verde);
}

.list-container{
    max-width: 600px;
    margin: 0 auto;
}

.task-container{
    background-color: var(--white);
    display:flex;
    justify-content: space-between;
    margin-bottom: 6px;
    border-radius: 4px;
    padding: 12px;
    color: var(--gray);
    font-size: 20px;
    font-weight: 500;
}

.closeBtn{
    width: 28px;
    height: 28px;
}

.closeBtn:hover{
    cursor: pointer;
}

#stats{
    margin: 35px 0 50px;
    color: var(--black);
    text-align: center;
    font-size: 14px;
}
